body {
    background-color: #cccccc;
}

.container {
    width: 80%;
    margin: 100px auto 0;

}

.response-block {
    background-color: black;
    color: white;
    height: 200px;
    overflow: auto;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 10px;
}
